{% extends 'ejemplo/base.html' %}
{% block titulo%} Buscar Familiares por nombre {% endblock %}
{% block contenido %}
  
  <form action="/mi-familia/buscar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  {% for familiar in lista_familiares %}
      <ul>
          <li> Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}}</li>
      </ul>
  {% endfor %}

  <form action="/seguro/buscar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  {% for familiar in lista_seguro %}
      <ul>
          <li> nombredeplan: {{Seguro.nombredeplan}}, tipodeplan: {{Seguro.tipodeplan}}, numero_socio: {{Seguro.numero_socio}}</li>
      </ul>
  {% endfor %}

  <form action="/datosPersonales/buscar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  {% for datos_personales in lista_datos_personales %}
      <ul>
          <li> Nombre: {{datos_personales.nombre}}, Dirección: {{datos_personales.direccion}}, Pasaporte: {{datos_personales.numero_pasaporte}}, numero_dni: {{datos_personales.numero_dni}}, FactorSanguineo: {{datos_personales.FactorSanguineo}}</li>
      </ul>
  {% endfor %}

{% endblock %}